.feed{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
  justify-items: center;
}

@media(max-width:64.0rem){
  .feed{
    grid-template-columns: repeat(2, 1fr);
  }
}