.photoPost{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  margin: 3.2rem 0;
  
}

@media(max-width: 64rem){
  .photoPost{
    grid-template-columns: 1fr;
  }
}

.photoPost #img{
  margin-bottom: 1rem;
}

.preview{
  border-radius: 1.6rem;
  background-size: cover;
  background-position: center center;
}

.file{
  margin-bottom: 1.6rem;
}

.preview::after{
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}