.button{
  font-size: 1.6rem;
  font-family: var(--primary-font);
  cursor: pointer;
  border: none;
  border-radius: 0.64rem;
  background: #fb1;
  color: #764701;
  padding: 1.28rem 1.92rem;
  box-sizing: border-box;
  min-width: 12.8rem;
  transition: 0.1s;
}

.button:hover,.button:focus{
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  outline: none;
}
.button:disabled{
  opacity: 0.5;
  cursor: wait;
}

